include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.md
include LICENSE
include README.md

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

# "graft relative/path/to/directory/of/your/headers/" otherwise "tox -e py" won't work
# https://stackoverflow.com/a/6681343/14851404
graft boost 
